


.first {
    background-color: blueviolet;
    height: 200px;
    width: 800px;
    display: flex;
    padding: 30px;
    margin: 20px;
    display: table;


}
.second{
    background-color: green;
    height: 40px;
    width: 500px;
    padding: 2px;
    margin: 2px;

    
}
.third{
    background-color: yellow;
    height: 40px;
    width: 600px;
    padding: 2px;
    margin: 2px;

    
    
}
.four{
    background-color: red;
    height: 40px;
    width: 700px;
    padding: 2px;
    margin: 2px;

    
    
}
.five{
    background-color: blue;
    height: 40px;
    width: 300px;
    padding: 2px;
    margin: 2px;

    
    
}
.six{
    background-color: violet;
    height: 40px;
    width: 400px;
    padding: 2px;
    margin: 2px;

    
    
}


